@import url('https://fonts.googleapis.com/css2?family=VT323&display=swap');

body,
html {
    margin: 0;
    padding: 0;
    background-color: rgb(14, 14, 14);
    box-sizing: border-box;
}

.game-container {
    position: relative;

    .win-screen {
        display: flex;
        align-items: center;
        justify-content: center;
        flex-direction: column;
        position: absolute;
        top: -500%;
        left: 50%;
        height: 450px;
        width: 600px;
        padding: 50px;
        transform: translateX(-50%) translateY(-50%);
        text-align: center;
        background-color: rgb(24, 24, 24);
        z-index: 100;
        transition: 1s cubic-bezier(0.645, 0.045, 0.355, 1);

        .title {
            color: white;
            font-family: 'VT323', monospace;
            font-size: 30px;
            margin-bottom: 50px;
        }

        .img-winner {
            height: 100px;
            width: 100px;
            background-position: center;
            background-size: cover;
            margin-bottom: 50px;
            transition: .5s cubic-bezier(0.95, 0.05, 0.795, 0.035);
            animation: move-winner 2s infinite;

            &.player1 {
                background-image: url('img/player-1.png');
            }
            
            &.player2 {
                background-image: url('img/player-2.png');
            }
        }

        @keyframes move-winner {
            0% {transform: translateY(0) scaleX(0);}
            30% {transform: translateY(0);}
            40% {transform: translateY(-30px);}
            50% {transform: translateY(0);}
            70% {transform: translateY(0) scaleX(0);}
            80% {transform: translateY(-30px) scaleX(-1);}
            100% {transform: translateY(0) scaleX(0);}

        }

        .reload-btn {
            cursor: pointer;
            font-family: 'VT323', monospace;
            font-size: 25px;
            padding: 10px 35px;
            background-color: rgb(55, 57, 153);
            border: 0;
            outline: 0;
            color: white;
            transition: .3s;
            
            &:hover {
                background-color: rgb(91, 92, 156);
            }
        }

        &.active {
            top: 50%;
        }
    }
}

.players-wrapper {
    position: relative;
    display: flex;
    height: 80px;
    font-size: 20px;
    color: white;
    font-family: 'VT323', monospace;
    box-sizing: border-box;
    background: linear-gradient(0, rgba(16,18,54,1) 0%, rgba(9,11,36,1) 100%, rgba(0,0,0,1) 100%);

    .btn-options {
        z-index: 11;
    }

    .player {
        position: relative;
        display: flex;
        height: 100%;
        width: 100%;
        padding: 10px 20px;
        box-sizing: border-box;
        background: rgba($color: #000000, $alpha: 0);

        &:after {
            content: '';
            opacity: 0;
            position: absolute;
            top: 0;
            left: 0;
            height: 100%;
            width: 100%;
            background-color: rgba(black, .2);
            clip-path: polygon(25% 0%, 100% 0%, 75% 100%, 0% 100%);
            transition: .2s cubic-bezier(0.445, 0.05, 0.55, 0.95);
            transform: translateX(-100%);
            overflow: hidden;
        }

        .current-turn {
            opacity: 0;
            position: absolute;
            top: 10px;
            right: 10px;
            color: rgb(251, 124, 255);
            transition: .3s;
        }

        @keyframes opacity-changing {
            0% {
                opacity: .7;
            }
            
            50% {
                opacity: 1;
            }
            
            100% {
                opacity: .7;
            }
        }

        &.active {
            background: rgba($color: rgb(55, 57, 153), $alpha: 1);

            &:after {
                opacity: 1;
                transform: translateX(0);
            }

            .current-turn {
                opacity: 1;
                animation: opacity-changing .7s infinite;
            }
        }


        &:first-of-type {
            justify-content: flex-end;
            text-align: right;

            img {
                transform: scaleX(-1);
            }

            &:after {
                transform: translateX(100%) scaleX(-1);
            }

            &.active {
                background: rgba($color: rgb(117, 55, 153), $alpha: 1);

                &:after {
                    transform: translateX(0) scaleX(-1);
                }
            }

            .current-turn {
                right: auto;
                left: 10px;
                top: 10px;
            }
        }

        .wrapper-img {
            height: 100%;
            z-index: 1;

            img {
                height: 100%;
            }
        }

        .wrapper-infos {
            display: flex;
            justify-content: center;
            flex-direction: column;
            padding: 0 20px;
            z-index: 1;
        }
    }
}

.cells-container {
    .cells {
        margin: auto;
        width: 500px;
        display: grid;
        grid-template-columns: repeat(10, 1fr);
        list-style: none;
        padding: 0;

        .cell {
            width: 50px;
            height: 50px;
            background-color: lightgrey;
            border: 1px solid rgb(80, 80, 80);
            box-sizing: border-box;

            &.vide {
                background-color: rgb(190, 190, 190);
            }

            &.innacessible {
                background-color: rgb(58, 58, 58);
            }

            &.weapon,
            &.player {
                display: flex;
                align-items: center;
                justify-content: center;
                background-repeat: no-repeat;
                background-position: center;
                background-size: 75%;
                transition: background .3s;
            }

            &.player {
                &.to-left {
                    transform: scaleX(-1);
                }
            }

            &.can-go {
                background-color: cyan;
            }

            &.attack-enemy {
                background-color: orange;
            }
            
            &[data-weapon="poing"] {
                background-image: url('img/poing.png');
                background-color: rgb(114, 194, 114);
            }
            
            &[data-weapon="baton"] {
                background-image: url('img/baton.png');
                background-color: rgb(79, 117, 187);
            }
            
            &[data-weapon="lance"] {
                background-image: url('img/lance.png');
                background-color: rgb(218, 120, 90);
            }

            &[data-weapon="epee"] {
                background-image: url('img/epee.png');
                background-color: rgb(179, 70, 194);
            }

            &[data-weapon="shuriken"] {
                background-image: url('img/shuriken.png');
                background-color: rgb(156, 163, 206);
            }

            &[data-weapon="hache"] {
                background-image: url('img/hache.png');
                background-color: rgb(175, 194, 70);
            }

            &[data-weapon="marteau"] {
                background-image: url('img/marteau.png');
                background-color: rgb(194, 140, 70);
            }

            &[data-player="player1"] {
                background-image: url('img/player-1.png');

                &.current-player {
                    background-color: blue;
                }
            }

            &[data-player="player2"] {
                background-image: url('img/player-2.png');
                
                &.current-player {
                    background-color: blue;
                }
            }
        }
    }
}