body,
html {
    margin: 0;
    padding: 0;
}

.cells-container {
    .cells {
        width: 500px;
        display: grid;
        grid-template-columns: repeat(10, 1fr);
        list-style: none;
        padding: 0;

        .cell {
            width: 50px;
            height: 50px;
            background-color: lightgrey;
            border: 1px solid rgb(80, 80, 80);

            &.vide {
                background-color: lightgrey;
            }

            &.innacessible {
                background-color: grey;
            }

            &.weapon {
                display: flex;
                align-items: center;
                justify-content: center;
                background-color: rgb(114, 194, 114);
            }

            img {
                padding: 5px;
                width: 50px;
                height: auto;
                object-fit: contain;
                box-sizing: border-box;
            }
        }
    }
}