.game-container {
    position: relative;
    min-height: 100vh;

    .win-screen {
        display: flex;
        align-items: center;
        justify-content: center;
        flex-direction: column;
        position: absolute;
        top: -500%;
        left: 50%;
        height: 100%;
        width: 100%;
        transform: translateX(-50%) translateY(-50%);
        text-align: center;
        background-color: rgb(24, 24, 24);
        z-index: 100;
        transition: 1s cubic-bezier(0.645, 0.045, 0.355, 1);

        &:after {
            content: '';
            position: absolute;
            left: 0;
            top: 0;
            height: 100%;
            width: 100%;
            background-color: rgba(black, .2);
            clip-path: polygon(25% 0%, 100% 0%, 75% 100%, 0% 100%);
            z-index: -1;
        }

        .title {
            color: $white;
            font-size: 30px;
            margin-bottom: 50px;
            
            .winner-win-text {
                display: block;
                font-family: 'Contrail One', cursive;
                text-transform: uppercase;
                text-shadow: 0px 5px 1px $lightviolet;
                font-size: 70px;

                .player2 & {
                    text-shadow: 0px 5px 1px $skyblue;
                }
            }
        }

        .img-winner {
            height: 100px;
            width: 100px;
            background-position: center;
            background-size: cover;
            margin-bottom: 50px;
            transition: .5s cubic-bezier(0.95, 0.05, 0.795, 0.035);
            animation: move-winner 2s infinite;

            &.player1 {
                background-image: url('../img/player-1.png');
            }
            
            &.player2 {
                background-image: url('../img/player-2.png');
            }
        }

        .reload-btn {
            cursor: pointer;
            font-family: 'VT323', monospace;
            font-size: 25px;
            padding: 10px 35px;
            background-color: rgb(55, 57, 153);
            border: 0;
            outline: 0;
            color: $white;
            transition: .3s;
            box-shadow: 4px 4px 0 $lightviolet;

            .player2 & {
                box-shadow: 4px 4px 0 $skyblue;
            }
            
            &:hover {
                background-color: rgb(91, 92, 156);
                box-shadow: 2px 2px 0 $lightviolet;

                .player2 & {
                    box-shadow: 2px 2px 0 $skyblue;
                }
            }

            &:focus {
                box-shadow: 0 0 0 $lightviolet;

                .player2 & {
                    box-shadow: 0 0 0 $skyblue;
                }
            }
        }

        &.active {
            top: 50%;
        }
    }

    .start-screen {
        display: flex;
        align-items: center;
        justify-content: center;
        flex-direction: column;
        position: absolute;
        top: -200%;
        left: 0;
        height: 100%;
        width: 100%;
        background-color: rgb(24, 24, 24);
        z-index: 100;
        transition: 1s  ease-in-out;
        transition-delay: .3s;
        overflow: hidden;

        &:after {
            content: '';
            position: absolute;
            left: 0;
            top: 0;
            height: 100%;
            width: 100%;
            background-color: rgba(black, .2);
            clip-path: polygon(25% 0%, 100% 0%, 75% 100%, 0% 100%);
            z-index: -1;
        }

        &.active {
            top: 0;

            .players {
                top: 50%;
                transform: translateY(-50%);
            }

            .title {
                transform: translateY(0) translateX(-25px);
            }

            .start-btn {
                transform: translateY(0);
            }
        }

        .title {
            font-family: 'Contrail One', cursive;
            margin-bottom: 30px;
            text-transform: uppercase;
            color: $white;
            font-size: 95px;
            text-align: left;
            line-height: 1;
            transform: translateY(-200%);
            transition: .5s ease-in-out;
            transition-delay: .2s;
            

            .anim {
                // display: block;
                animation: title-shadow 1s infinite;

                &:last-child {
                    display: block;
                    transform: translateX(50px);
                }
            }

            .sm {
                position: relative;
                // display: block;
                margin: -20px auto -15px;
                padding: 12px;
                font-family: 'VT323', monospace;
                font-size: 35px;
                border-radius: 50%;

                // background-color: $blue;
                // box-shadow: 0 0 10px $black;
            }
        }

        @keyframes title-shadow {
            0% {text-shadow: 0px 5px 1px $lightviolet;}
            40% {text-shadow: 0px 5px 1px $skyblue;}
            80% {text-shadow: 0px 5px 1px $lightviolet;}
            100% {text-shadow: 0px 5px 1px $skyblue;}
        }

        .start-btn {
            transition: .3s ease-in-out;
            transform: translateY(100%);
        }


        .players {
            display: flex;
            position: absolute;
            margin-bottom: 30px;
            width: 800px;
            top: -100%;
            justify-content: space-between;
            transition: .7s ease-in-out;

            .player {
                img {
                    height: 140px;
                    animation : player-jump 2s infinite;
                    animation-delay: 1.5s;
                }

                &:last-child {
                    transform: scaleX(-1);
                    animation : player-jump-2 2s infinite;
                    animation-delay: 1s;
                }
            }
        }

        .weapon-decoration {
            position: absolute;
            top: 0;
            height: 80px;
            width: 80px;
            background-image: url('/src/img/epee.png');
            background-repeat: no-repeat;
            background-size: cover;
            animation: weapons-rain-2 2s infinite;
        }
    }
}

.fight-time {
    &.player1 {
        animation: fight-background-player 2s infinite;
    }
    
    &.player2 {
        animation: fight-background-player-2 2s infinite;
    }

    .cells-container { 
        .cells {
            .cell {
                background-color: transparent;
                &.vide {
                    background-color: transparent;
                }

                &[data-player="player1"] {
                    &.current-player {
                        background-color: $color-player-1;
                        z-index: 1;
                    }
                }

                &[data-player="player2"] {
                    
                    &.current-player {
                        background-color: $color-player-2;
                        z-index: 1;
                    }
                }
            }
        }
    }
}

