// Style du tableau des joueurs
.players-wrapper {
    position: relative;
    display: flex;
    height: 90px;
    font-size: 20px;
    color: $white;
    box-sizing: border-box;
    background: $darkblue;
    z-index: 50;

    @media (max-width: $mobile) {
        width: 100%;
    }

    .player {
        position: relative;
        display: flex;
        height: 100%;
        width: 100%;
        padding: 10px 20px;
        box-sizing: border-box;

        @media (max-width: $tablet) {
            padding: 10px;
        }

        &:after {
            content: '';
            opacity: 0;
            position: absolute;
            top: 0;
            left: 0;
            height: 100%;
            width: 100%;
            background-color: rgba($black, .2);
            clip-path: polygon(25% 0%, 100% 0%, 75% 100%, 0% 100%);
            transition: .2s cubic-bezier(0.445, 0.05, 0.55, 0.95);
            transform: translateX(-100%);
            overflow: hidden;
        }

        .fight-options {
            position: absolute;
            top: -100%;
            left: 0;
            padding: 15px 20px;
            background-color: $darkblue;
            box-sizing: border-box;

            @media (max-width: $tablet) {
                display: flex;
                right: 0;
                left: auto;
            }

            @media (max-width: $mobile) {
               position: fixed;
               bottom: -100%;
               top: auto;
               width: 100%;
               background-color: $color-player-2;
            }

            button {
                cursor: pointer;
                font-family: 'Contrail One', cursive;
                text-transform: uppercase;
                background-color: transparent;
                font-size: 18px;
                color: $white;
                outline: 0;
                padding: 10px 30px;
                border: 1px solid white;
                transition: .3s;

                &:hover {
                    background-color: rgba(white, .5);
                }
            }

            &.active {
                top: 100%;

                @media (max-width: $mobile) {
                    justify-content: center;
                    bottom: 0;
                    top: auto;
                }
     
            }
        }

        .current-turn {
            opacity: 0;
            position: absolute;
            top: 10px;
            right: 10px;
            color: $lightviolet;
            transition: .3s;

            @media (max-width: $tablet) {
                display: none;
            }
        }

        @keyframes opacity-changing {
            0% {
                opacity: .7;
            }
            
            50% {
                opacity: 1;
            }
            
            100% {
                opacity: .7;
            }
        }

        &.active {
            background: $color-player-2;

            &:after {
                opacity: 1;
                transform: translateX(0);
            }

            .current-turn {
                opacity: 1;
                animation: opacity-changing .7s infinite;
            }
        }


        &:first-of-type {
            justify-content: flex-end;
            text-align: right;

            .fight-options {
                left: auto;
                right: 0;
                background-color: $darkviolet;

                @media (max-width: $tablet) {
                    left: 0;
                    right: auto;
                }

                @media (max-width: $mobile) {
                    background-color: $color-player-1
                }
            }

            img {
                transform: scaleX(-1);
            }

            &:after {
                transform: translateX(100%) scaleX(-1);
            }

            &.active {
                background: $color-player-1;

                &:after {
                    transform: translateX(0) scaleX(-1);
                }
            }

            .current-turn {
                right: auto;
                left: 10px;
                top: 10px;
            }
        }

        .wrapper-img {
            height: 100%;
            z-index: 1;

            @media (max-width: $mobile) {
                display: flex;
                align-items: center;
            }

            img {
                height: 100%;

                @media (max-width: $mobile) {
                    height: auto;
                    max-width: 60px;
                }
            }
        }

        .wrapper-infos {
            display: flex;
            justify-content: center;
            flex-direction: column;
            padding: 0 20px;
            z-index: 1;

            @media (max-width: $tablet) {
                font-size: 16px;
                padding: 0;
            }

            .name {
                font-family: 'Contrail One', cursive;
                text-transform: uppercase;

                @media (max-width: $mobile) {
                    font-size: 18px;
                }
            }
        }
    }
}