@import url("https://fonts.googleapis.com/css2?family=Metal+Mania&family=VT323&family=Contrail+One&display=swap");
body,
html {
  font-family: 'VT323', monospace;
  min-height: 100vh;
  margin: 0;
  padding: 0;
  background-color: #0e0e0e;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

.cells-container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  min-height: 80vh;
}

.cells-container .cells {
  margin: auto;
  width: 500px;
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: (1fr)[10];
      grid-template-columns: repeat(10, 1fr);
  list-style: none;
  padding: 0;
}

.cells-container .cells .cell {
  width: 50px;
  height: 50px;
  border: 1px solid #505050;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

.cells-container .cells .cell.vide {
  background-color: #bebebe;
}

.cells-container .cells .cell.innacessible {
  background-image: url(../img/floor.jpg);
  background-size: contain;
}

.cells-container .cells .cell.weapon, .cells-container .cells .cell.player {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  background-repeat: no-repeat;
  background-position: center;
  background-size: 75%;
  -webkit-transition: background .3s;
  transition: background .3s;
}

.cells-container .cells .cell.player.to-left {
  -webkit-transform: scaleX(-1);
          transform: scaleX(-1);
}

.cells-container .cells .cell.player.protect {
  position: relative;
}

.cells-container .cells .cell.player.protect:before {
  content: '';
  position: absolute;
  bottom: 5px;
  right: 5px;
  height: 20px;
  width: 20px;
  background-image: url(../img/shield.png);
  background-repeat: no-repeat;
  background-position: center;
  background-size: 100%;
}

.cells-container .cells .cell.player.attack-now.right-enemy {
  -webkit-animation: attack-anim-right 0.5s;
          animation: attack-anim-right 0.5s;
}

@-webkit-keyframes attack-anim-right {
  0% {
    -webkit-transform: translateX(0px) scaleX(1);
            transform: translateX(0px) scaleX(1);
  }
  50% {
    -webkit-transform: translateX(-10px) scaleX(1);
            transform: translateX(-10px) scaleX(1);
  }
  65% {
    -webkit-transform: translateX(50px) scaleX(1);
            transform: translateX(50px) scaleX(1);
  }
  75% {
    -webkit-transform: translateX(50px) scaleX(1);
            transform: translateX(50px) scaleX(1);
  }
  100% {
    -webkit-transform: translateX(0px) scaleX(1);
            transform: translateX(0px) scaleX(1);
  }
}

@keyframes attack-anim-right {
  0% {
    -webkit-transform: translateX(0px) scaleX(1);
            transform: translateX(0px) scaleX(1);
  }
  50% {
    -webkit-transform: translateX(-10px) scaleX(1);
            transform: translateX(-10px) scaleX(1);
  }
  65% {
    -webkit-transform: translateX(50px) scaleX(1);
            transform: translateX(50px) scaleX(1);
  }
  75% {
    -webkit-transform: translateX(50px) scaleX(1);
            transform: translateX(50px) scaleX(1);
  }
  100% {
    -webkit-transform: translateX(0px) scaleX(1);
            transform: translateX(0px) scaleX(1);
  }
}

.cells-container .cells .cell.player.attack-now.left-enemy {
  -webkit-animation: attack-anim-left 0.5s;
          animation: attack-anim-left 0.5s;
}

@-webkit-keyframes attack-anim-left {
  0% {
    -webkit-transform: translateX(0px) scaleX(-1);
            transform: translateX(0px) scaleX(-1);
  }
  50% {
    -webkit-transform: translateX(10px) scaleX(-1);
            transform: translateX(10px) scaleX(-1);
  }
  65% {
    -webkit-transform: translateX(-50px) scaleX(-1);
            transform: translateX(-50px) scaleX(-1);
  }
  75% {
    -webkit-transform: translateX(-50px) scaleX(-1);
            transform: translateX(-50px) scaleX(-1);
  }
  100% {
    -webkit-transform: translateX(0px) scaleX(-1);
            transform: translateX(0px) scaleX(-1);
  }
}

@keyframes attack-anim-left {
  0% {
    -webkit-transform: translateX(0px) scaleX(-1);
            transform: translateX(0px) scaleX(-1);
  }
  50% {
    -webkit-transform: translateX(10px) scaleX(-1);
            transform: translateX(10px) scaleX(-1);
  }
  65% {
    -webkit-transform: translateX(-50px) scaleX(-1);
            transform: translateX(-50px) scaleX(-1);
  }
  75% {
    -webkit-transform: translateX(-50px) scaleX(-1);
            transform: translateX(-50px) scaleX(-1);
  }
  100% {
    -webkit-transform: translateX(0px) scaleX(-1);
            transform: translateX(0px) scaleX(-1);
  }
}

.cells-container .cells .cell.player.attack-now.top-enemy {
  -webkit-animation: attack-anim-top 0.5s;
          animation: attack-anim-top 0.5s;
}

@-webkit-keyframes attack-anim-top {
  0% {
    -webkit-transform: translateX(0px) scaleX(1);
            transform: translateX(0px) scaleX(1);
  }
  50% {
    -webkit-transform: translateY(10px) scaleX(1);
            transform: translateY(10px) scaleX(1);
  }
  65% {
    -webkit-transform: translateY(-50px) scaleX(1);
            transform: translateY(-50px) scaleX(1);
  }
  75% {
    -webkit-transform: translateY(-50px) scaleX(1);
            transform: translateY(-50px) scaleX(1);
  }
  100% {
    -webkit-transform: translateX(0px) scaleX(1);
            transform: translateX(0px) scaleX(1);
  }
}

@keyframes attack-anim-top {
  0% {
    -webkit-transform: translateX(0px) scaleX(1);
            transform: translateX(0px) scaleX(1);
  }
  50% {
    -webkit-transform: translateY(10px) scaleX(1);
            transform: translateY(10px) scaleX(1);
  }
  65% {
    -webkit-transform: translateY(-50px) scaleX(1);
            transform: translateY(-50px) scaleX(1);
  }
  75% {
    -webkit-transform: translateY(-50px) scaleX(1);
            transform: translateY(-50px) scaleX(1);
  }
  100% {
    -webkit-transform: translateX(0px) scaleX(1);
            transform: translateX(0px) scaleX(1);
  }
}

.cells-container .cells .cell.player.attack-now.bottom-enemy {
  -webkit-animation: attack-anim-bottom 0.5s;
          animation: attack-anim-bottom 0.5s;
}

@-webkit-keyframes attack-anim-bottom {
  0% {
    -webkit-transform: translateX(0px) scaleX(1);
            transform: translateX(0px) scaleX(1);
  }
  50% {
    -webkit-transform: translateY(-10px) scaleX(1);
            transform: translateY(-10px) scaleX(1);
  }
  65% {
    -webkit-transform: translateY(50px) scaleX(1);
            transform: translateY(50px) scaleX(1);
  }
  75% {
    -webkit-transform: translateY(50px) scaleX(1);
            transform: translateY(50px) scaleX(1);
  }
  100% {
    -webkit-transform: translateX(0px) scaleX(1);
            transform: translateX(0px) scaleX(1);
  }
}

@keyframes attack-anim-bottom {
  0% {
    -webkit-transform: translateX(0px) scaleX(1);
            transform: translateX(0px) scaleX(1);
  }
  50% {
    -webkit-transform: translateY(-10px) scaleX(1);
            transform: translateY(-10px) scaleX(1);
  }
  65% {
    -webkit-transform: translateY(50px) scaleX(1);
            transform: translateY(50px) scaleX(1);
  }
  75% {
    -webkit-transform: translateY(50px) scaleX(1);
            transform: translateY(50px) scaleX(1);
  }
  100% {
    -webkit-transform: translateX(0px) scaleX(1);
            transform: translateX(0px) scaleX(1);
  }
}

.cells-container .cells .cell.player[data-player-weapon] {
  position: relative;
}

.cells-container .cells .cell.player[data-player-weapon]:after {
  content: '';
  position: absolute;
  bottom: 5px;
  left: 5px;
  height: 20px;
  width: 20px;
  background-repeat: no-repeat;
  background-position: center;
  background-size: 100%;
}

.cells-container .cells .cell.player[data-player-weapon][data-player-weapon='marteau']:after {
  background-image: url(../img/marteau.png);
}

.cells-container .cells .cell.player[data-player-weapon][data-player-weapon='poing']:after {
  background-image: url(../img/poing.png);
}

.cells-container .cells .cell.player[data-player-weapon][data-player-weapon='baton']:after {
  background-image: url(../img/baton.png);
}

.cells-container .cells .cell.player[data-player-weapon][data-player-weapon='shuriken']:after {
  background-image: url(../img/shuriken.png);
}

.cells-container .cells .cell.player[data-player-weapon][data-player-weapon='lance']:after {
  background-image: url(../img/lance.png);
}

.cells-container .cells .cell.player[data-player-weapon][data-player-weapon='hache']:after {
  background-image: url(../img/hache.png);
}

.cells-container .cells .cell.player[data-player-weapon][data-player-weapon='epee']:after {
  background-image: url(../img/epee.png);
}

.player1 .cells-container .cells .cell.can-go {
  background-color: #fca3ff;
}

.player2 .cells-container .cells .cell.can-go {
  background-color: #8adeff;
}

.cells-container .cells .cell[data-weapon="poing"] {
  background-image: url("../img/poing.png");
  background-color: #72c272;
}

.cells-container .cells .cell[data-weapon="baton"] {
  background-image: url("../img/baton.png");
  background-color: #4f75bb;
}

.cells-container .cells .cell[data-weapon="lance"] {
  background-image: url("../img/lance.png");
  background-color: #da785a;
}

.cells-container .cells .cell[data-weapon="epee"] {
  background-image: url("../img/epee.png");
  background-color: #b346c2;
}

.cells-container .cells .cell[data-weapon="shuriken"] {
  background-image: url("../img/shuriken.png");
  background-color: #9ca3ce;
}

.cells-container .cells .cell[data-weapon="hache"] {
  background-image: url("../img/hache.png");
  background-color: #afc246;
}

.cells-container .cells .cell[data-weapon="marteau"] {
  background-image: url("../img/marteau.png");
  background-color: #c28c46;
}

.cells-container .cells .cell[data-player="player1"] {
  background-image: url("../img/player-1.png");
  z-index: 10;
}

.fight-time .cells-container .cells .cell[data-player="player1"] {
  border: 0;
}

.cells-container .cells .cell[data-player="player1"].current-player {
  background-color: #753799 !important;
  z-index: 1;
}

.cells-container .cells .cell[data-player="player2"] {
  background-image: url("../img/player-2.png");
  z-index: 10;
}

.fight-time .cells-container .cells .cell[data-player="player2"] {
  border: 0;
}

.cells-container .cells .cell[data-player="player2"].current-player {
  background-color: #373999 !important;
  z-index: 1;
}

.players-wrapper {
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  height: 80px;
  font-size: 20px;
  color: white;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  background: #101236;
}

.players-wrapper .player {
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  height: 100%;
  width: 100%;
  padding: 10px 20px;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

.players-wrapper .player:after {
  content: '';
  opacity: 0;
  position: absolute;
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;
  background-color: rgba(14, 14, 14, 0.2);
  -webkit-clip-path: polygon(25% 0%, 100% 0%, 75% 100%, 0% 100%);
          clip-path: polygon(25% 0%, 100% 0%, 75% 100%, 0% 100%);
  -webkit-transition: 0.2s cubic-bezier(0.445, 0.05, 0.55, 0.95);
  transition: 0.2s cubic-bezier(0.445, 0.05, 0.55, 0.95);
  -webkit-transform: translateX(-100%);
          transform: translateX(-100%);
  overflow: hidden;
}

.players-wrapper .player .fight-options {
  position: absolute;
  top: -100%;
  right: 0;
  padding: 10px 20px;
  background-color: #101236;
}

.players-wrapper .player .fight-options button {
  font-family: 'VT323', monospace;
  background-color: transparent;
  font-size: 18px;
  color: white;
  outline: 0;
}

.players-wrapper .player .fight-options.active {
  top: 100%;
}

.players-wrapper .player .current-turn {
  opacity: 0;
  position: absolute;
  top: 10px;
  right: 10px;
  color: #fca3ff;
  -webkit-transition: .3s;
  transition: .3s;
}

@-webkit-keyframes opacity-changing {
  0% {
    opacity: .7;
  }
  50% {
    opacity: 1;
  }
  100% {
    opacity: .7;
  }
}

@keyframes opacity-changing {
  0% {
    opacity: .7;
  }
  50% {
    opacity: 1;
  }
  100% {
    opacity: .7;
  }
}

.players-wrapper .player.active {
  background: #373999;
}

.players-wrapper .player.active:after {
  opacity: 1;
  -webkit-transform: translateX(0);
          transform: translateX(0);
}

.players-wrapper .player.active .current-turn {
  opacity: 1;
  -webkit-animation: opacity-changing .7s infinite;
          animation: opacity-changing .7s infinite;
}

.players-wrapper .player:first-of-type {
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
  text-align: right;
}

.players-wrapper .player:first-of-type .fight-options {
  right: auto;
  left: 0;
  background-color: #361f44;
}

.players-wrapper .player:first-of-type img {
  -webkit-transform: scaleX(-1);
          transform: scaleX(-1);
}

.players-wrapper .player:first-of-type:after {
  -webkit-transform: translateX(100%) scaleX(-1);
          transform: translateX(100%) scaleX(-1);
}

.players-wrapper .player:first-of-type.active {
  background: #753799;
}

.players-wrapper .player:first-of-type.active:after {
  -webkit-transform: translateX(0) scaleX(-1);
          transform: translateX(0) scaleX(-1);
}

.players-wrapper .player:first-of-type .current-turn {
  right: auto;
  left: 10px;
  top: 10px;
}

.players-wrapper .player .wrapper-img {
  height: 100%;
  z-index: 1;
}

.players-wrapper .player .wrapper-img img {
  height: 100%;
}

.players-wrapper .player .wrapper-infos {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  padding: 0 20px;
  z-index: 1;
}

.game-container {
  position: relative;
  min-height: 100vh;
}

.game-container .win-screen {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  position: absolute;
  top: -500%;
  left: 50%;
  height: 100%;
  width: 100%;
  -webkit-transform: translateX(-50%) translateY(-50%);
          transform: translateX(-50%) translateY(-50%);
  text-align: center;
  background-color: #181818;
  z-index: 100;
  -webkit-transition: 1s cubic-bezier(0.645, 0.045, 0.355, 1);
  transition: 1s cubic-bezier(0.645, 0.045, 0.355, 1);
}

.game-container .win-screen:after {
  content: '';
  position: absolute;
  left: 0;
  top: 0;
  height: 100%;
  width: 100%;
  background-color: rgba(0, 0, 0, 0.2);
  -webkit-clip-path: polygon(25% 0%, 100% 0%, 75% 100%, 0% 100%);
          clip-path: polygon(25% 0%, 100% 0%, 75% 100%, 0% 100%);
  z-index: -1;
}

.game-container .win-screen .title {
  color: white;
  font-size: 30px;
  margin-bottom: 50px;
}

.game-container .win-screen .title .winner-win-text {
  display: block;
  font-family: 'Contrail One', cursive;
  text-transform: uppercase;
  text-shadow: 0px 5px 1px #fca3ff;
  font-size: 70px;
}

.player2 .game-container .win-screen .title .winner-win-text {
  text-shadow: 0px 5px 1px #8adeff;
}

.game-container .win-screen .img-winner {
  height: 100px;
  width: 100px;
  background-position: center;
  background-size: cover;
  margin-bottom: 50px;
  -webkit-transition: 0.5s cubic-bezier(0.95, 0.05, 0.795, 0.035);
  transition: 0.5s cubic-bezier(0.95, 0.05, 0.795, 0.035);
  -webkit-animation: move-winner 2s infinite;
          animation: move-winner 2s infinite;
}

.game-container .win-screen .img-winner.player1 {
  background-image: url("../img/player-1.png");
}

.game-container .win-screen .img-winner.player2 {
  background-image: url("../img/player-2.png");
}

@-webkit-keyframes move-winner {
  0% {
    -webkit-transform: translateY(0);
            transform: translateY(0);
  }
  30% {
    -webkit-transform: translateY(0);
            transform: translateY(0);
  }
  40% {
    -webkit-transform: translateY(-30px);
            transform: translateY(-30px);
  }
  45% {
    -webkit-transform: translateY(0);
            transform: translateY(0);
  }
  70% {
    -webkit-transform: translateY(0);
            transform: translateY(0);
  }
  80% {
    -webkit-transform: translateY(-30px);
            transform: translateY(-30px);
  }
  85% {
    -webkit-transform: translateY(0px);
            transform: translateY(0px);
  }
  100% {
    -webkit-transform: translateY(0);
            transform: translateY(0);
  }
}

@keyframes move-winner {
  0% {
    -webkit-transform: translateY(0);
            transform: translateY(0);
  }
  30% {
    -webkit-transform: translateY(0);
            transform: translateY(0);
  }
  40% {
    -webkit-transform: translateY(-30px);
            transform: translateY(-30px);
  }
  45% {
    -webkit-transform: translateY(0);
            transform: translateY(0);
  }
  70% {
    -webkit-transform: translateY(0);
            transform: translateY(0);
  }
  80% {
    -webkit-transform: translateY(-30px);
            transform: translateY(-30px);
  }
  85% {
    -webkit-transform: translateY(0px);
            transform: translateY(0px);
  }
  100% {
    -webkit-transform: translateY(0);
            transform: translateY(0);
  }
}

.game-container .win-screen .reload-btn {
  cursor: pointer;
  font-family: 'VT323', monospace;
  font-size: 25px;
  padding: 10px 35px;
  background-color: #373999;
  border: 0;
  outline: 0;
  color: white;
  -webkit-transition: .3s;
  transition: .3s;
  -webkit-box-shadow: 4px 4px 0 #fca3ff;
          box-shadow: 4px 4px 0 #fca3ff;
}

.player2 .game-container .win-screen .reload-btn {
  -webkit-box-shadow: 4px 4px 0 #8adeff;
          box-shadow: 4px 4px 0 #8adeff;
}

.game-container .win-screen .reload-btn:hover {
  background-color: #5b5c9c;
  -webkit-box-shadow: 2px 2px 0 #fca3ff;
          box-shadow: 2px 2px 0 #fca3ff;
}

.player2 .game-container .win-screen .reload-btn:hover {
  -webkit-box-shadow: 2px 2px 0 #8adeff;
          box-shadow: 2px 2px 0 #8adeff;
}

.game-container .win-screen .reload-btn:focus {
  -webkit-box-shadow: 0 0 0 #fca3ff;
          box-shadow: 0 0 0 #fca3ff;
}

.player2 .game-container .win-screen .reload-btn:focus {
  -webkit-box-shadow: 0 0 0 #8adeff;
          box-shadow: 0 0 0 #8adeff;
}

.game-container .win-screen.active {
  top: 50%;
}

.fight-time.player1 {
  -webkit-animation: fight-background-player 2s infinite;
          animation: fight-background-player 2s infinite;
}

.fight-time.player2 {
  -webkit-animation: fight-background-player-2 2s infinite;
          animation: fight-background-player-2 2s infinite;
}

.fight-time .cells-container .cells .cell {
  background-color: transparent;
}

.fight-time .cells-container .cells .cell.vide {
  background-color: transparent;
}

@-webkit-keyframes fight-background-player {
  0% {
    background-color: #0e0e0e;
  }
  10% {
    background-color: #0e0e0e;
  }
  15% {
    background-color: #361f44;
  }
  20% {
    background-color: #0e0e0e;
  }
  25% {
    background-color: #361f44;
  }
  35% {
    background-color: #0e0e0e;
  }
  100% {
    background-color: #0e0e0e;
  }
}

@keyframes fight-background-player {
  0% {
    background-color: #0e0e0e;
  }
  10% {
    background-color: #0e0e0e;
  }
  15% {
    background-color: #361f44;
  }
  20% {
    background-color: #0e0e0e;
  }
  25% {
    background-color: #361f44;
  }
  35% {
    background-color: #0e0e0e;
  }
  100% {
    background-color: #0e0e0e;
  }
}

@-webkit-keyframes fight-background-player-2 {
  0% {
    background-color: #0e0e0e;
  }
  10% {
    background-color: #0e0e0e;
  }
  15% {
    background-color: #101236;
  }
  20% {
    background-color: #0e0e0e;
  }
  25% {
    background-color: #101236;
  }
  35% {
    background-color: #0e0e0e;
  }
  100% {
    background-color: #0e0e0e;
  }
}

@keyframes fight-background-player-2 {
  0% {
    background-color: #0e0e0e;
  }
  10% {
    background-color: #0e0e0e;
  }
  15% {
    background-color: #101236;
  }
  20% {
    background-color: #0e0e0e;
  }
  25% {
    background-color: #101236;
  }
  35% {
    background-color: #0e0e0e;
  }
  100% {
    background-color: #0e0e0e;
  }
}
/*# sourceMappingURL=style.css.map */